/*div lien Valero*/
.lienValero{

}

/*ul liste liens*/
.groupelisteliens{

}
/*class liste des liens*/

.listeliens{
  list-style:none;
  text-align:right;
}

/*class img liens*/

.listeliens img{
  width:80px;
  margin-top: 15px;

}
