
.champMessage{
  resize:none;
}

#divscroll{
  width:20px;

  position:fixed;
  bottom:20px;
  left:1px;
}

.copyright{
  text-align: center;
}

@media (max-width: 768px) {
  label{
    font-size: 17px;
  }
}
