/*class liste des liens*/

.listeliens{
  list-style:none;
}
.carte{
  text-align: left;

}
.reseaux{
  text-align:right;
}


/*class img liens*/

.listeliens img{
  width:60px;
  margin-top: 15px;

}
