/** div titre principal **/

#fondtete{
  height: 600px;
  position: relative;
}

.imagefond{
  background-image: url("./img/header.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
}

.opaque{
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.texteentete{
  top: 0;
  color: white;
  width: 100%;
  height: 50px;
  text-align: center;
  position: absolute;
  margin-top: 100px;

}
/**titre principal**/

h1{
  font-size: 2.5em;
}

/**div id coordonnee**/

#coordonnee{
  background-color: #FFDAB4;
  height: 100px;
  line-height: 50px;
  text-align: center;
}

/**ul class coordonnee**/

.groupCoordonnees{
  display: flex;
  justify-content: center;
  list-style: none;
}

/**liste class coordonnee**/

.listecoordonne{
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  margin-top: 30px;
}
.listecoordonne a{
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .listecoordonne{
    font-size: 12px;
  }

}
.sectionimage{
  text-align: center;
  height: auto;
  width: 100%;
}
/**redimension du logo**/
.logo{
  height: 130px;
  width: 130px;
}
