/** div titre principal **/

.entete{
  background-color: #F2EBD8;
  height: 200px;
  width: 100%;
  text-align: center;
  color: black;
}

/**titre principal**/

h1{
  font-size: 3em;
}

/**div id coordonnee**/

#coordonnee{
  background-color: #F2EBD8;
  height: 100px;
  line-height: 160px;
  text-align: center;
}

/**ul class coordonnee**/

.groupCoordonnees{
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right:15px;
}

/**liste class coordonnee**/

.listecoordonne{
  margin-left: 15px;
  margin-right: 15px;
  color: black;
  font-size: 1.5em;

}

.sectionimage{
  background-color:#F2EBD8;
  text-align: center;
  height: auto;
  width: 100%;
}
.logo{
  height: 100px;
  width: 120px;
}
