/**partie formulaire**/

form{
  font-size:20px;/*taille police*/
}

label{
  display:block; /*alignement du formulaire*/
  margin-top:40px;
}

.champMessage{
  height:200px;
}

form {
    button{
      margin-top:20px;
    }
}
.resetPadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
