.champMessage{
  resize: none;
}
.container{
  margin-top: 50px;
}
textarea.form-control{
  height: 200px;
}
label{
  color: black;
  display: flex;
  justify-content: center;
}

.btn-primary{
  margin-bottom: 50px;
  margin-top: 25px;
}
.alert{
  text-align: center;
}
