#grossediv{
  display: flex;
}

#divprestation1{
  ;
}

.imgprestation{
  width:300px;
  height:300px;
}

.service1{
  font-size: 20px;
}

.service2{
  font-size: 20px;
}

.service3{
  font-size: 20px;
}
